/* Color Palette: 'black' #353535, 'teal' #3C6E71, 'white' #FFFFFF, 'gray' #D9D9D9, 'darkblue' #284B63 */
:root {
  --primary-color: #3C6E71;
  --secondary-color: #284B63;
  --contrast-color: #D9D9D9;
  --bg-color:  #353535;
  --input-color: #D9D9D9;
  --input-text: #284B63;
}

[data-theme="light"] {
  --primary-color: #D9D9D9;
  --secondary-color: #b1c5c6;
  --contrast-color: #284B63;
  --bg-color:  #FFFFFF;
  --input-color: #e1dddd;
  --input-text: #284B63;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--contrast-color);
  font-family: sans-serif;
}

body {
  position: relative;
  background-color: var(--bg-color)
}

form {
  width: 350px;
  padding: 10px;
  display: none;
  background-color: var(--secondary-color);
  color: var(--contrast-color);
  position: absolute;
  border-radius: 5px;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}

input {
  background-color: var(--input-color);
  border: none;
  color: var(--input-text);
  height: 25px;
  font-size: 1rem;
  font-weight: 500;
  text-indent: 5px;
}

h1 {
  font-size: 3rem;
}

li {
  padding: 10px 0;
  font-size: 1.4rem;
}

span#percent {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 3.2rem;
  transform: translate(-50%, -50%);
  color: var(--contrast-color);
}

.canvas-wrap {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}

#int-title, #int-desc {
  text-align: center;
  color: var(--contrast-color);
}

#interval-info-container {
  min-height: 116px;
}

.close-btn {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 4%;
  left: 90%;
  z-index: 999;
  color: var(--contrast-color);
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.close-btn:hover {
  background-color: var(--contrast-color);
  color: var(--secondary-color);
  border-radius: 50%;
}

.close {
  width: 100%;
  height: 100%;
  fill: var(--contrast-color);
}

#banner {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 3.2rem;
}

#start-banner {
  display: none;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 3.2rem;
}

#clock {
  height: 275px;
  width: 275px;
}

.controls {
  stroke-width: 1;
}

#start-btn, #pause-btn, #resume-btn, #cancel-btn {
  display: none;
  background-color: transparent;
  border: none;
  color: var(--contrast-color);
  width: 120px;
  height: 60px;
  font-size: 1.4rem;
  font-weight: 500;
}

#dropdown-container {
  position: relative;
}

#dropdown {
  display: none;
  font-size: 1.6rem;
  font-size: 1.6rem;
  padding: 10px 10px;
  width: 25vw;
  background-color: var(--secondary-color);
  color: var(--bg-color);
  border-radius: 5px;
  position: absolute;
  top: 45px;
  left: 8px;
}

#dropdown-btn {
  height: 40px;
  width: 40px;
  stroke: var(--contrast-color);
}

#create, #saved, #help {
  padding: 5px;
  color: var(--contrast-color);
}

#create:hover, #saved:hover, #help:hover {
  background-color: var(--primary-color);
  color: var(--contrast-color);
  border-radius: 5px;
}

#saved:active {
  background-color: var(--primary-color);
  color: var(--contrast-color);
  border-radius: 5px;
}

#title {
  margin: 11px 0;
}

#add-interval-btn, #save-btn {
  background-color: var(--primary-color);
  border: var(--contrast-color) 1px solid;
  border-radius: 5px;
  color: var(--contrast-color);
  width: 100px;
  height: 40px;
  font-size: 0.9rem;
  font-weight: 500;
}

#add-interval-btn:hover, #save-btn:hover {
  background-color: var(--contrast-color);
  color: var(--primary-color);
}

#interval-container {
  max-height: 400px;
  overflow: scroll;
  scroll-behavior: smooth;
}

.desc-container, .time-container {
  padding: 6px 0;
}

.one-int {
  padding: 5px;
  margin: 5px 0;
  border: 2px solid var(--primary-color);
}

.form-btn-container {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.delete-saved {
  color: var(--contrast-color);
  border: none;
  background-color: transparent;
  height: 50px;
  margin-right: 5px;
  z-index: 1;
}

.garbage {
  width: 40px;
}

.delete-saved:hover {
  background-color: var(--contrast-color);
  color: var(--primary-color);
  border-radius: 50%;
}

#saved-options {
  display: none;
  color: var(--contrast-color);
  font-size: 1.4rem;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0);
  max-height: 400px;
  overflow: scroll;
  scroll-behavior: smooth;
  width: 350px;
  padding: 50px 10px 10px 10px;
  background-color: var(--secondary-color);
  text-align: center;
}

.saved-int-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  align-items: center;
  padding: 5px;
  margin:  5px 0;
  background-color: var(--secondary-color);
}

.saved-int-container p {
  padding-left: 10px;
  overflow-wrap: break-word;
}

.saved-option {
  width: 70%;
}


#canvas-btn-container {
  display: flex;
  justify-content: space-around;
  max-width: 550px;
  margin: 0 auto;
}

#help-container {
    width: 350px;
    padding: 30px 10px 10px 10px;
    display: none;
    background-color: var(--secondary-color);
    color: var(--contrast-color);
    position: absolute;
    border-radius: 5px;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
}

/* toggle switch */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 1%;
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #284B63;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #d9d9d9;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (min-width: 1000px) {
  #clock {
    height: 325px;
    width: 325px;
  }

  #banner {
    text-align: center;
    font-size: 3.8rem;
  }

  #dropdown-btn {
    height: 48px;
    width: 48px;
  }

  .theme-switch {
    height: 40px;
    width: 72px;
  }

  .slider:before {
    background-color: #fff;
    bottom: 4px;
    height: 32px;
    left: 4px;
    width: 32px;
  }

  input:checked + .slider:before {
    transform: translateX(32px);
  }

  .slider.round {
    border-radius: 40px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  #start-banner, #banner {
    font-size: 3.6rem;
  }

  h1 {
    font-size: 3.6rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  canvas {
    height: 360px;
    width: 360px;
  }

  .canvas-wrap {
    height: 100%;
  }

  span#percent {
    font-size: 3.6rem;
  }

}

@media (max-height: 800px) {
  canvas {
    height: 250px;
    width: 250px;
  }

  .canvas-wrap {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
  }
}