/* :root {
  background: #fff;
} */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

form {
  width: 350px;
  padding: 10px;
  display: none;
  background-color: black;
  color: limegreen;
  position: absolute;
  left: 0;
  top: 0;
}

input {
  background-color: limegreen;
  border: none;
  color: black;
}

span#percent {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  color: #3949AB;
}

.canvas-wrap {
  position: relative;
  width: 300px;
  height: 300px;
}

#start-btn {
  display: none;
}

#pause-btn {
  display: none;
}

#resume-btn {
  display: none;
}

#cancel-btn {
  display: none;
}

#dropdown {
  display: none;
}

#title {
  margin: 11px 0;
}

#add-interval-btn, #save-btn {
  background-color: limegreen;
  border: none;
  width: 100px;
  height: 40px;
}

#interval-container {
  max-height: 400px;
  overflow: scroll;
  scroll-behavior: smooth;
}

.desc-container, .time-container {
  padding: 6px 0;
}

.one-int {
  padding: 5px;
  margin: 5px 0;
  border: 1px solid limegreen;
}

.form-btn-container {
  display: flex;
  justify-content: space-around;
}

.saved-int-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid limegreen;
  align-items: center;
  padding: 5px;
  margin:  5px 0;
}

.saved-int-container p {
  padding-left: 10px;
  overflow-wrap: break-word;
}

.delete-saved {
  background-color: red;
  height: 50px
}

#saved-options {
  display: none;
  background-color: black;
  color: limegreen;
  font-size: 1.4rem;
  position: absolute;
  left: 0;
  top: 0;
  max-height: 400px;
  overflow: scroll;
  scroll-behavior: smooth;
  width: 350px;
  padding: 10px
}